@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 25% 7%;
    --foreground: 210 40% 98%;
    --card: 224 24% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 224 24% 13%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 19% 22%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 19% 22%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 19% 22%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 224 17% 22%;
    --input: 224 17% 22%;
    --ring: 217 91% 60%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
